<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Home</a></li>
									<li class="active">Second Home</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>About The Malaysia <strong>My Second Home Programme (MM2H) </strong></h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row">
						<div class="col-md-3">
							<aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options='{"minWidth": 991, "containerSelector": ".container", "padding": {"top": 110}}'>

								<h4 class="heading-primary">All about MM2H</h4>
								<ul class="nav nav-list mb-xl show-bg-active">
									<li class="active"><a data-hash data-hash-offset="85" href="#first">About MM2H</a></li>
									<li>
										<a data-hash data-hash-offset="85" href="#second">Why MM2H Is So Special?</a>
									</li>

									<li><a data-hash data-hash-offset="85" href="#third">MM2H Program For Retirees</a></li>

								</ul>

							</aside>
						</div>
						<div class="col-md-9">
							<div id="first" class="mb-sm heading heading-primary heading-border heading-bottom-border" style="display:inline-block;">
								<h1>About <strong>MM2H</strong></h1>
							</div>
							<p>The Malaysia My Second Home Programme offers non Malaysians a <strong class="text-primary">10 year renewable visa</strong> and various other privileges which are explained in this website. So far some 12,000 people have been approved and it is generating a lot of interest. The programme is primarily attracting people who wish to retire in Malaysia or spend extended periods here.
							</p>
							<p>Applicants are <strong class="text-primary">allowed to bring along their dependants</strong> (children below 21 years of age, step children, disabled children, and parents, over 60) under their MM2H visa. Older dependent children will have to get a separate visa.</p>
							<div id="second" class="mb-sm heading heading-primary heading-border heading-bottom-border" style="display:inline-block;">
								<h1>Why Malaysia  <strong>My Second Home Is So Special?</strong></h1>
							</div>
							<ul class="list list-icons list-primary">
										<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i> It <strong class="text-primary">offers a straight 10-years’ residency visa in Malaysia</strong> with renewals available for an indefinite period, as long as participants do not violate Malaysia’s laws.</li>
										<li data-appear-animation="fadeInUp" data-appear-animation-delay="300" class="appear-animation fadeInUp appear-animation-visible" style="animation-delay: 300ms;"><i class="fa fa-check"></i> This program is also <strong class="text-primary">easy and convenient to apply for with fast approval, often within 60 days</strong>. Moreover, the participants need not to be present in Malaysia during the application.</li>
										<li data-appear-animation="fadeInUp" data-appear-animation-delay="600" class="appear-animation fadeInUp appear-animation-visible" style="animation-delay: 600ms;"><i class="fa fa-check"></i> At any time, <strong class="text-primary">you can terminate the MM2H program!</strong> This process only takes about 5 working days, and upon presenting the termination approval, the bank will release all your fixed deposits back to you on the spot!</li>
										<li data-appear-animation="fadeInUp" data-appear-animation-delay="900" class="appear-animation fadeInUp appear-animation-visible" style="animation-delay: 900ms;"><i class="fa fa-check"></i> This pass allows you and your family to <strong class="text-primary">stay anywhere in Malaysia</strong>. It comes with Multiple-Entry Visa, which makes it convenient for you and family to travel in and out of the country.</li>
										<li data-appear-animation="fadeInUp" data-appear-animation-delay="1200" class="appear-animation fadeInUp appear-animation-visible" style="animation-delay: 1200ms;"><i class="fa fa-check"></i> With MM2H visa,  <strong class="text-primary">bank financing is also easily available.</strong></li>
										<li data-appear-animation="fadeInUp" data-appear-animation-delay="1200" class="appear-animation fadeInUp appear-animation-visible" style="animation-delay: 1200ms;"><i class="fa fa-check"></i> All MM2H visa holders <strong class="text-primary">can invest in businesses and 100% owned by you and your family.</strong></li>
										<li data-appear-animation="fadeInUp" data-appear-animation-delay="1200" class="appear-animation fadeInUp appear-animation-visible" style="animation-delay: 1200ms;"><i class="fa fa-check"></i> You and your family can <strong class="text-primary">bring your maid from your country!</strong></li>
										<li data-appear-animation="fadeInUp" data-appear-animation-delay="1200" class="appear-animation fadeInUp appear-animation-visible" style="animation-delay: 1200ms;"><i class="fa fa-check"></i> You can <strong class="text-primary">enjoy tax-free when you import all personal belongings</strong>, not limited to your pets and car from your country</li>
										<li data-appear-animation="fadeInUp" data-appear-animation-delay="1200" class="appear-animation fadeInUp appear-animation-visible" style="animation-delay: 1200ms;"><i class="fa fa-check"></i>With MM2H visa, <strong class="text-primary">you and family eligible to apply for Malaysia local driving license</strong> for convenient travelling around cities to enjoy your retirement.</li>
									</ul>
							<!-- <img class="pull-left img-responsive" width="300" height="211" src="img/device.png" alt="Device"> -->



							<div id="third" class="mb-sm heading heading-primary heading-border heading-bottom-border" style="display:inline-block;">
								<h1>MM2H Program <strong>For Retirees</strong></h1>
							</div>
							<p>MM2H program is every ideal for foreigners who like to retire in Malaysia, simply because it is the cheapest form of retirement without the need to put any investment of fixed deposit after approval obtained. Good healthcare system in Malaysia is also one of the main attraction making easy for the retirees.</p>
							<p>You are qualified if you are aged above 50 with monthly pensions of MYR10,000 from government approved fund or multinational companies, here are some great points for you to understanding why it is good to join MM2H program for retiree category:-</p>
							<ul class="list list-icons list-primary">
										<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i><strong class="text-primary">No Fixed deposit investment for you</strong> as retiree be the main applicant in the joining the program at all.</li>
										<li data-appear-animation="fadeInUp" data-appear-animation-delay="300" class="appear-animation fadeInUp appear-animation-visible" style="animation-delay: 300ms;"><i class="fa fa-check"></i><strong class="text-primary">All your dependents (spouse and children under aged 21) can join the program</strong>, without further need to put in any investment.</li>
										<li data-appear-animation="fadeInUp" data-appear-animation-delay="600" class="appear-animation fadeInUp appear-animation-visible" style="animation-delay: 600ms;"><i class="fa fa-check"></i>No obligation and <strong class="text-primary">easily terminate the MM2H program within 5 working days!</strong></li>
										<li data-appear-animation="fadeInUp" data-appear-animation-delay="900" class="appear-animation fadeInUp appear-animation-visible" style="animation-delay: 900ms;"><i class="fa fa-check"></i> You can enjoy <strong class="text-primary">reasonable cost of living in Malaysia</strong> – a place of growth with good infrastructure!</li>
										<li data-appear-animation="fadeInUp" data-appear-animation-delay="1200" class="appear-animation fadeInUp appear-animation-visible" style="animation-delay: 1200ms;"><i class="fa fa-check"></i>You can start and <strong class="text-primary">invest business in Malaysia with 100% foreign owned.</strong></li>
										<li data-appear-animation="fadeInUp" data-appear-animation-delay="1200" class="appear-animation fadeInUp appear-animation-visible" style="animation-delay: 1200ms;"><i class="fa fa-check"></i><strong class="text-primary">Your young children can study in Malaysia’s international schools</strong> under MM2H 10-years visa, without need to change to yearly student visa which is costly.</strong></li>
										<li data-appear-animation="fadeInUp" data-appear-animation-delay="1200" class="appear-animation fadeInUp appear-animation-visible" style="animation-delay: 1200ms;"><i class="fa fa-check"></i>Peaceful living with low density, <strong class="text-primary">free of natural disasters</strong> such as tsunami, earth quake, heavy flood, etc.</li>
										<li data-appear-animation="fadeInUp" data-appear-animation-delay="1200" class="appear-animation fadeInUp appear-animation-visible" style="animation-delay: 1200ms;"><i class="fa fa-check"></i>With the MM2H visa, <strong class="text-primary">most bankers are happy to provide you with loan</strong> for your property and car purchase.</li>
									</ul>




						</div>

					</div>

				</div>
