<section class="page-header">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <ul class="breadcrumb">
               <li><a href="#">Home</a></li>
               <li class="active">About Us</li>
            </ul>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <h1>About Us</h1>
         </div>
      </div>
   </div>
</section>
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <h2 class="word-rotator-title">
            Piala Mutiara Constructions Sdn. Bhd. (580539-A) <strong>
            </strong>
         </h2>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <p class="lead">
            Piala Mutiara Constructions Sdn. Bhd. (580539-A). Forms parts of Piala Muthiara Group of companies.  Incorporated on 17th May 2002 for the purpose of venturing into activities of civil construction with emphasis to compliment the property development project carried out by Piala Muthiara Group of companies.
         </p>
      </div>
   </div>
   <div class="row">
      <div class="row mt-xlg mb-xl">
         <div class="col-md-6">
            <div class="feature-box feature-box-style-2">
               <div class="feature-box-icon">
                  <i class="fa fa-star"></i>
               </div>
               <div class="feature-box-info">
                  <h4 class="heading-primary mb-xs">13 years in business</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.</p>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="feature-box feature-box-style-2">
               <div class="feature-box-icon">
                  <i class="fa fa-heart"></i>
               </div>
               <div class="feature-box-info">
                  <h4 class="heading-primary mb-xs">Loved by customers</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="feature-box feature-box-style-2">
               <div class="feature-box-icon">
                  <i class="fa fa-star"></i>
               </div>
               <div class="feature-box-info">
                  <h4 class="heading-primary mb-xs">Having 6 group of companies</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.</p>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="feature-box feature-box-style-2">
               <div class="feature-box-icon">
                  <i class="fa fa-star"></i>
               </div>
               <div class="feature-box-info">
                  <h4 class="heading-primary mb-xs">Succesfully completed projects worth RM101 million</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <hr class="tall">
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <h3 class="heading-primary">Our <strong>Vision & Mission</strong></h3>
         <p><strong> Vision:</strong> Being the leading construction developer with diverse experience.</p>
         <p><strong> Mission: </strong>We demand excellence, deliver on our promises and continuously search for new and better ways to provide the best solutions for our customers and our stakeholders. We will continue to meet the changing needs of our clients with our quality services delivered by the most qualified people.</p>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <hr class="tall">
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <h3 class="heading-primary">Our <strong>Story</strong></h3>
         <p>The company under the leadership of Chief Executive Officer. Mr. Kajendaran Muniandy PKT.PJK. PJM @ Rajen has amongst other projects also gained popularity as specialist in recovery and revival of abandoned projects. His vast exposure of over 20 years has not only gained confidence of the Malaysian government, financial institutions, vendors and suppliers but as well satisfied customers and purchasers. Being an outstanding member of Junior Chamber International, Malaysia, exploring areas of International opportunities- Mr. Kajendaran Muniandy @ Rajen has been conferred JCI Senatorship title. He is also a member of the Real Estate and Housing Developers Association (REHDA).</p>
         <p>The Piala Mutiara Group of Companies is wholly owned and managed by two shareholding directors with experienced professional personnel on retainer basis. The Directors and members of their Management Operations has vast experience in construction and housing development field. Projects undertaken by the companies are known for their design and price compatibility. Quality finishes are prioritized, while taking into account safety considerations. Through the parent company, PIALA MUTIARA SDN. BHD. and its related or subsidiary companies, the Group of Companies have successfully completed developments and construction projects with a total value of RM101 million/approximately USD27 million.</p>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <hr class="tall">
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <h3 class="heading-primary mt-xl">Our <strong>Group of Companies</strong></h3>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <ul class="history">
            <li data-appear-animation="fadeInUp">
               <div class="thumb">
                  <img src="img/office-4.jpg" alt="" />
               </div>
               <div class="featured-box">
                  <div class="box-content">
                     <h4 class="heading-primary"><strong>2010</strong></h4>
                     <p><span class="label label-info">Piala Mutiara Construction Sdn Bhd</span> was established on 12th May 2010. Its authorized capital RM 100,000.00 and paid up capital is RM 100,000.00. The principal activity of this company is food and beverage services. Established in this line, the company also functions as a marketing </p>
                  </div>
               </div>
            </li>
            <li data-appear-animation="fadeInUp">
               <div class="thumb">
                  <img src="img/office-4.jpg" alt="" />
               </div>
               <div class="featured-box">
                  <div class="box-content">
                     <h4 class="heading-primary"><strong>2010</strong></h4>
                     <p><span class="label label-info">N.K Bumi Construction  and  Developm ent Sdn  Bhd.( I 001086-V)</span> forms part  of the  Piala  Mutiara Group of  Companies. Incorporated on May 2002  for  the purpose of  venturing  into activities of civil   construction    with   emphasis   to  compliment the property   development   project  carried out  by NK  Bumi  Group of Companies. </p>
                     <p>The com pany under the leadersh ip of Chief Executi ve Officer Naresh Ku maar Kajendaran has
                        amongst   other   projects   also   gained   popula rity   as   special ist   i n   recovery   and   revi val   of abandoned  projects.  Our  vast  exposure  of over  20  years  has  not  only gained  confidence  of the Mal aysian   goverment,   financial    i nsti tuti ons,   vendors   &   suppliers   but   as   well   satisfied customers  and  purchasers.   Being  an  outstandi ng    member  or  J u nior  Cham ber  International  , Malaysia,  exploring   areas  of  International  oppu rtunities   - Naresh  K umaar  is also an  A rchitect by  Profession.  He  is  also  a  mem ber  of  the  Real  Estate  and  Housing  Developers  Association (REHDA).
                     </p>
                     <p>The     NK  Bumi      Group     of     Companies      is     wholly     owned  and  managed  by  two shareholding  directors with  experienced  professional  personnel  on  retairment basis . The Directors and  the members  of their Management   Operations  have  vast experience  in  construction and  housing  development   field.  Projects  undertaken  by  the  companies are  known   for  their designs  and   price  compatibility.  Quality  finishes  are  prioritized,  while  taking     into  account safety  considerations. Through  the parent  company,  N K Bumi   SON.  BHD.  and  its  related  or subsidiary  companies,  the  Group  of  Companies  has  successfully  completed  developments  and construction  projects  with a total  value of RM I 00 million I arproximately US27  million.</p>
                  </div>
               </div>
            </li>
            <li data-appear-animation="fadeInUp">
               <div class="thumb">
                  <img src="img/office-1.jpg" alt="" />
               </div>
               <div class="featured-box">
                  <div class="box-content">
                     <h4 class="heading-primary"><strong>1996</strong></h4>
                     <p><span class="label label-info">Motif Era Sdn Bhd (395331-M)</span> was fom1ed on 23rd July 1996 for the purpose of developing a piece of property known as lot 2205, Mukim 5, Seberang Perai Utara a mixed development project with emphasis on the low-to-medium cost market segment. A total of 436 unit of both commercial and residential  lots have  been approved  for constrnction  by Majl is Perbandaran   Seberang  Perai  vide   letter   dated   81 November  2001  under  ref: (94) dlm.MPSP/70/9-5/14 . The layout plan, the building plan as well as the subd ivision of individual lost have been approved by the MPSP</p>
                     <p>Earthworks have been completed and the project construction is ready to start. There will be two (2) phases. 308 lots (30 conm1ercial, 149 medi um-cost residential, 99 low-cost residential) in Phase 1 and 158 Jots (16 commercial, 142 medi um-cost residential) in Phase 2. Advertising permit was approved and the soft marketing was launched in J uly 2002. Phase I is expected to be completed, sold and delivered within two (2) years and Phase 2 wi thin year 3.</p>
                  </div>
               </div>
            </li>
            <li data-appear-animation="fadeInUp">
               <div class="thumb">
                  <img src="img/office-3.jpg" alt="" />
               </div>
               <div class="featured-box">
                  <div class="box-content">
                     <h4 class="heading-primary"><strong>1995</strong></h4>
                     <p><span class="label label-info">Piala Mutiara Management Services Sdn Bhd</span> was established on August 1995. The company’s main operational function is to provide property management consultancy and services. Its authorized capital is RM 500,000.00 and paid up capital is RM 400000.00 the company is currently the property manager for properties build and developed by group of companies namely Taman Perai Indah and Taman Teluk Kumbar. </p>
                  </div>
               </div>
            </li>
            <li data-appear-animation="fadeInUp">
               <div class="thumb">
                  <img src="img/office-1.jpg" alt="" />
               </div>
               <div class="featured-box">
                  <div class="box-content">
                     <h4 class="heading-primary"><strong>1993</strong></h4>
                     <p><span class="label label-info">Piala Mutiara Sdn Bhd (282261-K)</span> was established on November 1993. Its authorized capital is RM 1,000,000.00 and fully paid up. It has 6 associates related companies whose business includes construction insurance agency property management printing, etc The company has undertaken a Multi million Ringgit (RM 49 Mil) mix development project known as Taman Perai Indah at Seberang Perai Tengah, Penang. Taman Perai Indah consistof 1 block of Low Cost 96 units, 2blocks of Medium Cost Apartment of 260 units & 94 units of Low Cost Shop Lots. </p>
                  </div>
               </div>
            </li>
            <li data-appear-animation="fadeInUp">
               <div class="thumb">
                  <img src="img/office-2.jpg" alt="" />
               </div>
               <div class="featured-box">
                  <div class="box-content">
                     <h4 class="heading-primary"><strong>1990</strong></h4>
                     <p><span class="label label-info">Fala Associates Sdn.Bhd. (107103-E)</span> was established on 06th August 1990. The company was set up develop Taman Teluk Kumbar, Sungai Batu, Penang. Its authorized capital is RM 500,000.00 and paid up capital is RM 400,000.00 Taman Teluk Kumbar consist of 625 units of special low cost units and 55 units of shoplots, costing RM 18.8 million. </p>
                  </div>
               </div>
            </li>
            <li data-appear-animation="fadeInUp">
               <div class="thumb">
                  <img src="img/office-1.jpg" alt="" />
               </div>
               <div class="featured-box">
                  <div class="box-content">
                     <h4 class="heading-primary"><strong>1988</strong></h4>
                     <p><span class="label label-info">Binaan Mutiara (AS0100256-K)</span> was established on 06th August 1990. The company was set up develop Taman Teluk Kumbar, Sungai Batu, Penang. Its authorized capital is RM 500,000.00 and paid up capital is RM 400,000.00 Taman Teluk Kumbar consist of 625 units of special low cost units and 55 units of shoplots, costing RM 18.8 million. </p>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>
