<article class="boxedcontainer">
   <!--
      #################################
       - THEMEPUNCH BANNER -
      #################################
      -->
   <div class="tp-banner-container">
      <div class="tp-banner" >
         <ul>
           <!-- SLIDE  -->
              <li data-transition="slideup" data-slotamount="7" data-masterspeed="1000" data-thumb="/asset/images/slider-images/binwan-2.jpg"  data-saveperformance="on"  data-title="Parallax 3D">
                 <!-- MAIN IMAGE -->
                 <img src="/asset/images/binwan/dummy.png"  alt="3dbg" data-lazyload="/asset/images/slider-images/binwan-2.jpg" data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat">
              </li>
          <!-- SLIDE  -->
             <li data-transition="slideup" data-slotamount="7" data-masterspeed="1000" data-thumb="/asset/images/binwan/binwan-1.jpg"  data-saveperformance="on"  data-title="Parallax 3D">
                <!-- MAIN IMAGE -->
                <img src="/asset/images/binwan/dummy.png"  alt="3dbg" data-lazyload="/asset/images/binwan/bunglo_type_a.jpg" data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat">
             </li>
           <!-- SLIDE  -->
              <li data-transition="slideup" data-slotamount="7" data-masterspeed="1000" data-thumb="/asset/images/binwan/bunglo_type_a.jpg"  data-saveperformance="on"  data-title="Parallax 3D">
                 <!-- MAIN IMAGE -->
                 <img src="/asset/images/binwan/dummy.png"  alt="3dbg" data-lazyload="/asset/images/binwan/double_story_type_b.jpg" data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat">
              </li>
              <!-- SLIDE  -->
                 <li data-transition="slideup" data-slotamount="7" data-masterspeed="1000" data-thumb="/asset/images/binwan/semi_detached_type_b.jpg"  data-saveperformance="on"  data-title="Parallax 3D">
                    <!-- MAIN IMAGE -->
                    <img src="/asset/images/binwan/dummy.png"  alt="3dbg" data-lazyload="/asset/images/binwan/semi_detached_type_a.jpg" data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat">
                 </li>

                 <!-- SLIDE  -->
                    <li data-transition="slideup" data-slotamount="7" data-masterspeed="1000" data-thumb="/asset/images/slider-images/binwan-2.jpg"  data-saveperformance="on"  data-title="Parallax 3D">
                       <!-- MAIN IMAGE -->
                       <img src="/asset/images/binwan/dummy.png"  alt="3dbg" data-lazyload="/asset/images/binwan/semi_detached_type_b.jpg" data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat">
                    </li>
                  </ul>
                  <div class="tp-bannertimer"></div>
                  </div>
                  </div>
                  </article>
<section class="page-header">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <ul class="breadcrumb">
               <li><a href="#">Home</a></li>
               <li class="active">Portfolio</li>
            </ul>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <h1>Gelugor heights</h1>
         </div>
      </div>
   </div>
</section>
<div class="container">
<div class="row">
   <div class="col-md-12">
      <div class="portfolio-title">
         <div class="row">
            <div class="portfolio-nav-all col-md-1">
               <a href="portfolio.html" data-tooltip data-original-title="Back to Projects Page"><i class="fa fa-th"></i></a>
            </div>
            <div class="col-md-10 center">
               <h2 class="mb-none heading-primary"><strong>BINWAN</strong></h2>
            </div>
         </div>
      </div>
      <hr class="tall">
   </div>
</div>
<div class="row">
   <div class="col-md-4">
      <h4 class="center heading-primary">Image Gallery</h4>
      <div class="lightbox" data-plugin-options='{"delegate": "a", "type": "image", "gallery": {"enabled": true}, "mainClass": "mfp-with-zoom", "zoom": {"enabled": true, "duration": 300}}'>
         <div class="owl-carousel stage-margin" data-plugin-options='{"items": 1, "margin": 10, "loop": false, "nav": true, "dots": false, "stagePadding": 40}'>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house1.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house1.jpg" alt="Project Image">
               </a>
            </div>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house2.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house2.jpg" alt="Project Image">
               </a>
            </div>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house3.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house3.jpg" alt="Project Image">
               </a>
            </div>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house4.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house4.jpg" alt="Project Image">
               </a>
            </div>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house5.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house5.jpg" alt="Project Image">
               </a>
            </div>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house6.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house6.jpg" alt="Project Image">
               </a>
            </div>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house7.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house7.jpg" alt="Project Image">
               </a>
            </div>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house8.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house8.jpg" alt="Project Image">
               </a>
            </div>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house9.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house9.jpg" alt="Project Image">
               </a>
            </div>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house10.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house10.jpg" alt="Project Image">
               </a>
            </div>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house11.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house11.jpg" alt="Project Image">
               </a>
            </div>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house12.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house12.jpg" alt="Project Image">
               </a>
            </div>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house13.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house13.jpg" alt="Project Image">
               </a>
            </div>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house14.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house14.jpg" alt="Project Image">
               </a>
            </div>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house15.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house15.jpg" alt="Project Image">
               </a>
            </div>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house16.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house16.jpg" alt="Project Image">
               </a>
            </div>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house17.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house17.jpg" alt="Project Image">
               </a>
            </div>
            <div>
               <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs" href="/asset/images/binwan/house18.jpg">
               <img class="img-responsive" src="/asset/images/binwan/house18.jpg" alt="Project Image">
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-8">
      <div class="portfolio-info">
         <div class="row">
            <div class="col-md-12 center">
               <ul>
                  <li>
                     <a href="#" data-tooltip data-original-title="Like"><i class="fa fa-heart"></i>14</a>
                  </li>
                  <li>
                     <i class="fa fa-calendar"></i> 21 November 2013
                  </li>
                  <li>
                     <i class="fa fa-tags"></i> <a href="#">Brand</a>, <a href="#">Design</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <h4 class="heading-primary">Project <strong>Description</strong></h4>
      <p class="mt-xlg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>
      <p class="mt-xlg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>
      <p class="mt-xlg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>
      <ul class="portfolio-details">
         <li>
            <p><strong>Features:</strong></p>
            <ul class="list list-inline list-icons">
               <li><i class="fa fa-check-circle"></i> Fully Furnished </li>
               <li><i class="fa fa-check-circle"></i> 100% Vaastu compliant</li>
               <li><i class="fa fa-check-circle"></i> Gated Community</li>
               <li><i class="fa fa-check-circle"></i> Luxury at its best</li>
            </ul>
         </li>
      </ul>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <hr class="tall">
   </div>
</div>
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <h4 class="mb-lg">Quick Links</h4>
         <div class="row">
            <div class="col-md-4">
               <div class="tabs tabs-vertical tabs-left tabs-navigation">
                  <ul class="nav nav-tabs col-sm-3">
                     <li class="active">
                        <a class="active" href="#tabsNavigation2" data-toggle="tab"><i class="fa fa-file"></i> Location Map</a>
                     </li>
                     <li>
                        <a href="#tabsNavigation3" data-toggle="tab"><i class="fa fa-google-plus"></i> Floor Plan</a>
                     </li>
                     <li>
                        <a href="#tabsNavigation4" data-toggle="tab"><i class="fa fa-adjust"></i> Master Plan</a>
                     </li>
                     <li>
                        <a href="#tabsNavigation5" data-toggle="tab"><i class="fa fa-film"></i> Development Photos</a>
                     </li>
                     <li>
                        <a href="#tabsNavigation6" data-toggle="tab"><i class="fa fa-user"></i> Download Brochure</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-md-8">
               <div class="tab-pane tab-pane-navigation active" id="tabsNavigation2">
                  <h4>HTML5 / CSS3 / JS</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
               </div>
               <div class="tab-pane tab-pane-navigation" id="tabsNavigation3">
                  <h4 class="heading-primary">Floor Plan for individual Bunglo</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia.</p>
                  <div class="row">
                     <div class="col-md-6">
                        <a class="img-thumbnail img-thumbnail-hover-icon lightbox" href="img/projects/binwan/bunglo_type_a.jpg" data-plugin-options='{"type":"image"}'>
                        <img class="img-responsive" src="img/projects/binwan/bunglo_type_a.jpg" alt="Project Image">
                        </a>
                        <p class="heading-primary center"><strong>Double - Storey Bunglo (Type-A)</strong></p>
                     </div>
                     <div class="col-md-6">
                        <a class="img-thumbnail img-thumbnail-hover-icon lightbox" href="img/projects/binwan/double_story_type_b.jpg" data-plugin-options='{"type":"image"}'>
                        <img class="img-responsive" src="img/projects/binwan/double_story_type_b.jpg" alt="Project Image">
                        </a>
                        <p class="heading-primary center"><strong>Double - Storey Bunglo (Type-B)</strong></p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <a class="img-thumbnail img-thumbnail-hover-icon lightbox" href="img/projects/binwan/semi_detached_type_a.jpg" data-plugin-options='{"type":"image"}'>
                        <img class="img-responsive" src="img/projects/binwan/semi_detached_type_a.jpg" alt="Project Image">
                        </a>
                        <p class="heading-primary center"><strong>Double - Storey semi Detached (Type-A)</strong></p>
                     </div>
                     <div class="col-md-6">
                        <a class="img-thumbnail img-thumbnail-hover-icon lightbox" href="img/projects/binwan/semi_detached_type_b.jpg" data-plugin-options='{"type":"image"}'>
                        <img class="img-responsive" src="img/projects/binwan/semi_detached_type_b.jpg" alt="Project Image">
                        </a>
                        <p class="heading-primary center"><strong>Double - Storey semi Detached (Type-B)</strong></p>
                     </div>
                  </div>
               </div>
               <div class="tab-pane tab-pane-navigation" id="tabsNavigation4">
                  <h4>Colors</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
               </div>
               <div class="tab-pane tab-pane-navigation" id="tabsNavigation5">
                  <h4>Sliders</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
               </div>
               <div class="tab-pane tab-pane-navigation" id="tabsNavigation6">
                  <h4>Icons</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
