<section class="page-header">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <ul class="breadcrumb">
               <li><a href="#">Home</a></li>
               <li class="active">Contact Us</li>
            </ul>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <h1>Contact Us</h1>
         </div>
      </div>
   </div>
</section>
<section class="parallax section section-parallax section-center mb-none" data-stellar-background-ratio="0.5" style="background-image: url(img/parallax-transparent.jpg);">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <i class="icon-featured fa fa-envelope" data-appear-animation="bounceIn"></i>
            <h2 class="mb-none"><strong>Get in Touch With Us</strong></h2>
         </div>
      </div>
   </div>
</section>
<!-- Google Maps -->
<div id="googlemaps" class="google-map mt-none mb-sm"></div>
<section id="contact">
   <div class="container">
      <div class="row mt-xlg">
         <div class="col-md-6">
            <div class="alert alert-success hidden" id="contactSuccess">
               <strong>Success!</strong> Your message has been sent to us.
            </div>
            <div class="alert alert-danger hidden" id="contactError">
               <strong>Error!</strong> There was an error sending your message.
            </div>
            <h2 class="mb-sm mt-sm"><strong>Contact</strong> Us</h2>
            <form id="contactForm" action="php/contact-form.php" method="POST">
               <div class="row">
                  <div class="form-group">
                     <div class="col-md-6">
                        <label>Your name *</label>
                        <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
                     </div>
                     <div class="col-md-6">
                        <label>Your email address *</label>
                        <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="form-group">
                     <div class="col-md-12">
                        <label>Subject</label>
                        <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject" required>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="form-group">
                     <div class="col-md-12">
                        <label>Message *</label>
                        <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message" required></textarea>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <input type="submit" value="Send Message" class="btn btn-primary btn-lg mb-xlg" data-loading-text="Loading...">
                  </div>
               </div>
            </form>
         </div>
         <div class="col-md-6">
            <h4 class="heading-primary">The <strong>Head Office</strong></h4>
            <ul class="list list-icons list-icons-style-3 mt-xlg">
               <li><i class="fa fa-map-marker"></i> <strong>Address:</strong> BINWAN DEVELOPMENT SDN. BHD, No 1-08/1-10, Lorong Sintok 3, Taman Permatang Sintok, 13100 Penaga, Pulau Pinang.</li>
               <li><i class="fa fa-phone"></i> <strong>Phone:</strong> 04-5759598 / 5792598</li>
               <li><i class="fa fa-fax"></i> <strong>Fax:</strong>04-5793598</li>
               <li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:inf@binwanglobal.com">inf@binwanglobal.com</a></li>
            </ul>
            <hr>
            <h4 class="heading-primary"><strong>Sales Gallery</strong></h4>
            <ul class="list list-icons list-icons-style-3 mt-xlg">
               <li><i class="fa fa-map-marker"></i> <strong>Address:</strong> BINWAN DEVELOPMENT SDN. BHD, No.48, Jalan Hj.Ahmad Jamil 1, 13300 Tasek Gelugor, Seberang Perai Utara, Pulau Pinang.</li>
               <li><i class="fa fa-phone"></i> <strong>Phone:</strong> 014-9450360</li>
               <li><i class="fa fa-fax"></i> <strong>Fax:</strong>04-5793598</li>
               <li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:inf@binwanglobal.com">inf@binwanglobal.com</a></li>
            </ul>
            <hr>
            <h4 class="heading-primary">Business <strong>Hours</strong></h4>
            <ul class="list list-icons list-dark mt-xlg">
               <li><i class="fa fa-clock-o"></i> Monday - Friday 9am to 5pm</li>
               <li><i class="fa fa-clock-o"></i> Saturday - 9am to 2pm</li>
               <li><i class="fa fa-clock-o"></i> Sunday - Closed</li>
            </ul>
         </div>
      </div>
   </div>
</section>
