<head>
      <!-- Basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Piala Mutiara Group - Real Estate Property Developers</title>
      <meta name="keywords" content="Piala Mutiara Group" />
      <meta name="description" content="Piala Mutiara Group">
      <!-- Favicon -->
      <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
      <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Web Fonts  -->
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
      <!-- Vendor, Theme CSS -->
      <link rel="stylesheet" href="/asset/css/main.css">
      <!-- Current Page CSS -->
      <link rel="stylesheet" href="/asset/css/rs-plugin-settings.css" media="screen">
      <link rel="stylesheet" href="/asset/css/circli-flip-component.css" media="screen">

      <!-- Head Libs -->
      <script src="/asset/js/vendor/modernizr.js"></script>
      <!--[if IE]>
      <link rel="stylesheet" href="/asset/css/ie.css">
      <![endif]-->

   </head>
