<!-- START REVOLUTION SLIDER 4.5.0 fullwidth mode -->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,700,800,900' rel='stylesheet' type='text/css'>
   <article class="boxedcontainer">
      <!--
         #################################
         	- THEMEPUNCH BANNER -
         #################################
         -->
      <div class="tp-banner-container">
         <div class="tp-banner" >
            <ul>
              <!-- SLIDE  -->
              <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-thumb="asset/images/slider-images/malaysia_bg.jpg"  data-saveperformance="on"  data-title="Intro Slide">
                 <!-- MAIN IMAGE -->
                 <img src="asset/images/slider-images/binwan-1.jpg"  alt="slidebg1" data-lazyload="asset/images/slider-images/binwan-1.jpg" data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat">
                 <!-- LAYERS -->


                 <!-- LAYER NR. 4 -->
                 <div class="tp-caption grey_heavy_72 skewfromrightshort tp-resizeme rs-parallaxlevel-0"
                    data-x="197"
                    data-y="154"
                    data-speed="500"
                    data-start="2250"
                    data-easing="Power3.easeInOut"
                    data-splitin="chars"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">Better!
                 </div>
                 <!-- LAYER NR. 5 -->
                 <div class="tp-caption customin rs-parallaxlevel-0"
                    data-x="86"
                    data-y="184"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="2000"
                    data-easing="Power3.easeInOut"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 6;"><img src="asset/images/slider-images/dummy.png" alt="" data-lazyload="asset/images/slider-images/redbg.png">
                 </div>
                 <!-- LAYER NR. 6 -->
                 <div class="tp-caption black_heavy_60 skewfromleftshort tp-resizeme rs-parallaxlevel-0"
                    data-x="-2"
                    data-y="133"
                    data-speed="500"
                    data-start="1850"
                    data-easing="Power3.easeInOut"
                    data-splitin="chars"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">Now
                 </div>
                 <!-- LAYER NR. 7 -->
                 <div class="tp-caption white_heavy_40 customin tp-resizeme rs-parallaxlevel-0"
                    data-x="98"
                    data-y="187"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="2050"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">Even
                 </div>

                 <!-- LAYER NR. 9 -->
                 <div class="tp-caption black_thin_34 customin tp-resizeme rs-parallaxlevel-0"
                    data-x="183"
                    data-y="238"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-speed="500"
                    data-start="2350"
                    data-easing="Back.easeOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">In every Way!
                 </div>
                 <!-- LAYER NR. 10 -->
                 <div class="tp-caption customin rs-parallaxlevel-0"
                    data-x="6"
                    data-y="290"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="300"
                    data-start="2500"
                    data-easing="Power3.easeInOut"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 11;"><img src="asset/images/slider-images/dummy.png" alt="" data-lazyload="asset/images/slider-images/greyline.png">
                 </div>
                 <!-- LAYER NR. 11 -->
                 <div class="tp-caption customin tp-resizeme rs-parallaxlevel-0"
                    data-x="73"
                    data-y="320"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="2900"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-linktoslide="next"
                    style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;"><a href='/binwan' class='largeredbtn'>EXPLORE MORE!!!</a>
                 </div>
                 <!-- LAYER NR. 12 -->
                 <div class="tp-caption arrowicon customin rs-parallaxlevel-0"
                    data-x="303"
                    data-y="526"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="300"
                    data-start="3200"
                    data-easing="Power3.easeInOut"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-linktoslide="next"
                    style="z-index: 13;">
                    <div class=" rs-slideloop" 			data-easing="Power3.easeInOut"
                       data-speed="0.5"
                       data-xs="-5"
                       data-xe="5"
                       data-ys="0"
                       data-ye="0"
                       >
                       <img src="asset/images/slider-images/dummy.png" alt="" data-ww="18" data-hh="11" data-lazyload="asset/images/slider-images/doublearrow2.png">
                    </div>
                 </div>
              </li>
              <!-- SLIDE  -->
                 <li data-transition="slideup" data-slotamount="7" data-masterspeed="1000" data-thumb="/asset/images/slider-images/binwan-2.jpg"  data-saveperformance="on"  data-title="Parallax 3D">
                    <!-- MAIN IMAGE -->
                    <img src="/asset/images/slider-images/dummy.png"  alt="3dbg" data-lazyload="/asset/images/slider-images/malaysia_bg.jpg" data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption fullbg_gradient tp-fade tp-resizeme rs-parallaxlevel-10"
                       data-x="center" data-hoffset="0"
                       data-y="center" data-voffset="0"
                       data-speed="2000"
                       data-start="12200"
                       data-easing="Power4.easeOut"
                       data-splitin="none"
                       data-splitout="none"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-endspeed="300"
                       style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                       <div class=" rs-slideloop" 			data-easing="Power3.easeInOut"
                          data-speed="2"
                          data-xs="0"
                          data-xe="0"
                          data-ys="0"
                          data-ye="0"
                          >
                          &nbsp;
                       </div>
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption lft skewtoleftshort rs-parallaxlevel-9"
                       data-x="309"
                       data-y="69"
                       data-speed="1000"
                       data-start="1100"
                       data-easing="Power3.easeInOut"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-end="7000"
                       data-endspeed="1000"
                       style="z-index: 3;"><img src="/asset/images/slider-images/dummy.png" alt="" data-lazyload="/asset/images/slider-images/3dlayer_1.png">
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption lft skewtoleftshort rs-parallaxlevel-9"
                       data-x="-121"
                       data-y="-238"
                       data-speed="1000"
                       data-start="1400"
                       data-easing="Power3.easeInOut"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-end="7300"
                       data-endspeed="1000"
                       style="z-index: 4;"><img src="/asset/images/slider-images/dummy.png" alt="" data-lazyload="/asset/images/slider-images/3dlayer_5.png">
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption lft skewtoleftshort rs-parallaxlevel-9"
                       data-x="-186"
                       data-y="81"
                       data-speed="1000"
                       data-start="1700"
                       data-easing="Power3.easeInOut"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-end="7600"
                       data-endspeed="1000"
                       style="z-index: 5;"><img src="/asset/images/slider-images/dummy.png" alt="" data-lazyload="/asset/images/slider-images/3dlayer_4.png">
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption lft skewtoleftshort rs-parallaxlevel-3"
                       data-x="56"
                       data-y="437"
                       data-speed="1000"
                       data-start="2000"
                       data-easing="Power3.easeInOut"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-end="7900"
                       data-endspeed="1000"
                       style="z-index: 6;">
                       <div class=" rs-slideloop" 			data-easing="Linear.easeNone"
                          data-speed="3"
                          data-xs="0"
                          data-xe="0"
                          data-ys="-3"
                          data-ye="3"
                          >
                          <img src="/asset/images/slider-images/dummy.png" alt="" data-lazyload="/asset/images/slider-images/3dlayer_3.png">
                       </div>
                    </div>
                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption lft skewtoleftshort rs-parallaxlevel-2"
                       data-x="353"
                       data-y="436"
                       data-speed="1000"
                       data-start="2300"
                       data-easing="Power3.easeInOut"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-end="8200"
                       data-endspeed="1000"
                       style="z-index: 7;">
                       <div class=" rs-slideloop" 			data-easing="Linear.easeNone"
                          data-speed="2.5"
                          data-xs="0"
                          data-xe="0"
                          data-ys="-4"
                          data-ye="3"
                          >
                          <img src="/asset/images/slider-images/dummy.png" alt="" data-lazyload="/asset/images/slider-images/3dlayer_2.png">
                       </div>
                    </div>
                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption lft skewtoleftshort rs-parallaxlevel-1"
                       data-x="100"
                       data-y="55"
                       data-speed="1000"
                       data-start="2600"
                       data-easing="Power3.easeInOut"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-end="8500"
                       data-endspeed="1000"
                       style="z-index: 8;">
                       <div class=" rs-slideloop" 			data-easing="Linear.easeNone"
                          data-speed="2"
                          data-xs="0"
                          data-xe="0"
                          data-ys="-5"
                          data-ye="5"
                          >
                          <img src="/asset/images/slider-images/dummy.png" alt="" data-lazyload="/asset/images/slider-images/3dlayer_6.png">
                       </div>
                    </div>
                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption light_heavy_70_shadowed lfr randomrotateout tp-resizeme rs-parallaxlevel-10"
                       data-x="620"
                       data-y="162"
                       data-speed="1000"
                       data-start="2900"
                       data-easing="Power3.easeInOut"
                       data-splitin="none"
                       data-splitout="none"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-end="9000"
                       data-endspeed="1000"
                       style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">Malaysia
                    </div>
                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption black_heavy_60 customin randomrotateout tp-resizeme rs-parallaxlevel-10"
                       data-x="825"
                       data-y="230"
                       data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                       data-speed="1000"
                       data-start="3000"
                       data-easing="Power4.easeOut"
                       data-splitin="chars"
                       data-splitout="none"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-end="9200"
                       data-endspeed="1000"
                       style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">Truly Asia!
                    </div>
                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption black_bold_bg_20 skewfromright randomrotateout tp-resizeme rs-parallaxlevel-10"
                       data-x="840"
                       data-y="320"
                       data-speed="1000"
                       data-start="3500"
                       data-easing="Power3.easeInOut"
                       data-splitin="none"
                       data-splitout="none"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-end="9400"
                       data-endspeed="1000"
                       style="z-index: 11; max-width: auto; max-height: auto; white-space: nowrap;">Friendly people
                    </div>
                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption black_bold_bg_20 skewfromright randomrotateout tp-resizeme rs-parallaxlevel-10"
                       data-x="840"
                       data-y="360"
                       data-speed="1000"
                       data-start="3600"
                       data-easing="Power3.easeInOut"
                       data-splitin="none"
                       data-splitout="none"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-end="9600"
                       data-endspeed="1000"
                       style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">Strong culture
                    </div>
                    <!-- LAYER NR. 12 -->
                    <div class="tp-caption black_bold_bg_20 skewfromright randomrotateout tp-resizeme rs-parallaxlevel-10"
                       data-x="840"
                       data-y="400"
                       data-speed="1000"
                       data-start="3700"
                       data-easing="Power3.easeInOut"
                       data-splitin="none"
                       data-splitout="none"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-end="9750"
                       data-endspeed="1000"
                       style="z-index: 13; max-width: auto; max-height: auto; white-space: nowrap;">Good infrastructure
                    </div>
                    <!-- LAYER NR. 13 -->
                    <div class="tp-caption black_bold_bg_20 skewfromright randomrotateout tp-resizeme rs-parallaxlevel-10"
                       data-x="840"
                       data-y="440"
                       data-speed="1000"
                       data-start="3800"
                       data-easing="Power3.easeInOut"
                       data-splitin="none"
                       data-splitout="none"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-end="10000"
                       data-endspeed="1000"
                       style="z-index: 14; max-width: auto; max-height: auto; white-space: nowrap;">Dynamic business environment
                    </div>
                    <!-- LAYER NR. 14 -->
                    <div class="tp-caption green_bold_bg_20 skewfromright randomrotateout tp-resizeme rs-parallaxlevel-10"
                       data-x="840"
                       data-y="480"
                       data-speed="1000"
                       data-start="3900"
                       data-easing="Power3.easeInOut"
                       data-splitin="none"
                       data-splitout="none"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-end="10200"
                       data-endspeed="1000"
                       style="z-index: 15; max-width: auto; max-height: auto; white-space: nowrap;">And Much More ...
                    </div>
                    <!-- LAYER NR. 15 -->
                    <div class="tp-caption fullrounded customin rs-parallaxlevel-10"
                       data-x="center" data-hoffset="0"
                       data-y="center" data-voffset="0"
                       data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                       data-speed="600"
                       data-start="10500"
                       data-easing="Power4.easeInOut"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-endspeed="300"
                       style="z-index: 16;">
                       <div class=" rs-slideloop" 			data-easing="Power3.easeInOut"
                          data-speed="2"
                          data-xs="0"
                          data-xe="0"
                          data-ys="0"
                          data-ye="0"
                          >
                          <img src="/asset/images/slider-images/dummy.png" alt="" data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat" data-lazyload="/asset/images/slider-images/ind-mal.jpg">
                       </div>
                    </div>
                    <!-- LAYER NR. 16 -->
                    <div class="tp-caption white_thin_34 customin randomrotateout tp-resizeme rs-parallaxlevel-10"
                       data-x="center" data-hoffset="0"
                       data-y="center" data-voffset="-60"
                       data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                       data-speed="300"
                       data-start="11000"
                       data-easing="Power3.easeInOut"
                       data-splitin="none"
                       data-splitout="none"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-endspeed="1000"
                       style="z-index: 17; max-width: auto; max-height: auto; white-space: nowrap;">Retire In Malaysia, A Perfect Choice For
                    </div>
                    <!-- LAYER NR. 17 -->
                    <div class="tp-caption white_heavy_70 customin randomrotateout tp-resizeme rs-parallaxlevel-10"
                       data-x="center" data-hoffset="0"
                       data-y="center" data-voffset="0"
                       data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                       data-speed="300"
                       data-start="11300"
                       data-easing="Power3.easeInOut"
                       data-splitin="none"
                       data-splitout="none"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-endspeed="1000"
                       style="z-index: 18; max-width: auto; max-height: auto; white-space: nowrap;">
                       <div class=" rs-slideloop" 			data-easing="Power3.easeInOut"
                          data-speed="2"
                          data-xs="0"
                          data-xe="0"
                          data-ys="0"
                          data-ye="0"
                          >
                          Your Golden Years!!!
                       </div>
                    </div>
                    <!-- LAYER NR. 18 -->
                    <div class="tp-caption noshadow skewfromright randomrotateout tp-resizeme rs-parallaxlevel-0"
                       data-x="center" data-hoffset="0"
                       data-y="center" data-voffset="100"
                       data-speed="300"
                       data-start="11600"
                       data-easing="Power3.easeInOut"
                       data-splitin="none"
                       data-splitout="none"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-endspeed="1000"
                       style="z-index: 19; max-width: auto; max-height: auto; white-space: nowrap;">
                       <div class=" rs-slideloop" 			data-easing="Power3.easeInOut"
                          data-speed="2"
                          data-xs="0"
                          data-xe="0"
                          data-ys="0"
                          data-ye="0"
                          >
                          <a href="/why-malaysia" class="largeredbtn">FIND OUT MORE</a>
                       </div>
                    </div>
                    <!-- LAYER NR. 19 -->
                    <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-0"
                       data-x="650"
                       data-y="444"
                       data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                       data-speed="300"
                       data-start="11900"
                       data-easing="Power3.easeInOut"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-endspeed="300"
                       style="z-index: 20;">
                       <div class=" rs-slideloop" 			data-easing="Power3.easeInOut"
                          data-speed="0.5"
                          data-xs="-5"
                          data-xe="5"
                          data-ys="0"
                          data-ye="0"
                          >
                          <a href="/why-malaysia"><img src="/asset/images/slider-images/dummy.png" alt="" data-ww="18" data-hh="11" data-lazyload="/asset/images/slider-images/doublearrow2.png"></a>
                       </div>
                    </div>
                 </li>
                 <!-- SLIDE  -->
                    <li data-transition="slideup" data-slotamount="7" data-masterspeed="1000" data-thumb="/asset/images/slider-images/binwan-1.jpg"  data-saveperformance="on"  data-title="Parallax 3D">
                       <!-- MAIN IMAGE -->
                       <img src="/asset/images/slider-images/dummy.png"  alt="3dbg" data-lazyload="/asset/images/slider-images/binwan-2.jpg" data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat">
                    </li>


            </ul>
            <div class="tp-bannertimer"></div>
         </div>
      </div>
   </article>
