<div class="home-intro" id="home-intro">
   <div class="container">
      <div class="row">
         <div class="col-md-8">
            <p>
               Own a house in <em>Malyasia!</em>
               <span>Check out new Gelugor heights project.</span>
            </p>
         </div>
         <div class="col-md-4">
            <div class="mt-lg mb-xl">
               <a href="#demos" data-hash="" class="btn btn-primary mr-md appear-animation fadeInDown appear-animation-visible" data-appear-animation="fadeInDown" data-appear-animation-delay="300" style="animation-delay: 300ms;">Take me there</a> <span data-appear-animation="fadeInDown" data-appear-animation-delay="600" class="appear-animation fadeInDown appear-animation-visible" style="animation-delay: 600ms;"></span>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container">
   <div class="row mb-xl">
      <div class="col-md-12 center">
         <h2 class="mb-xl"><strong>Who</strong> We Are</h2>
         <p>Piala Mutiara Group Sdn. Bhd. (580539-A). Forms parts of Piala Muthiara Group of companies.  Incorporated on 17th May 2002 for the purpose of venturing into activities of civil construction with emphasis to compliment the property development project carried out by Piala Muthiara Group of companies.</p>
      </div>
   </div>
   <div class="row">
      <div class="counters">
         <div class="col-md-3 col-sm-6">
            <div class="counter counter-dark">
               <i class="fa fa-user"></i>
               <strong data-to="1000" data-append="+">1000+</strong>
               <label>Happy Clients</label>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="counter counter-dark">
               <i class="fa fa-star"></i>
               <strong data-to="13">13</strong>
               <label>Years in Business</label>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="counter counter-dark">
               <i class="fa fa-flag"></i>
               <strong data-to="6">6</strong>
               <label>Group of companies under our wing</label>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="counter counter-dark">
               <i class="fa fa-dollar"></i>
               <strong data-to="27">27 million</strong>
               <label>Completed projects worth US27 million</label>
            </div>
         </div>
      </div>
      <div class="col-md-12 center">
         <a class="btn btn-borders btn-default mr-xs mb-sm" style="margin:30px !important;"href="about-us-basic.html">Read More</a>
      </div>
   </div>
</div>
<section class="parallax section section-parallax section-center mt-xl mb-none" data-stellar-background-ratio="0.5" style="background-image: url(asset/images/shared/testimonials.jpg);background-size:cover;">
   <div class="container">
      <div class="row">
         <div class="col-md-10 col-md-offset-1">
            <h2><i class="fa fa-star font-size-xs mr-xs"></i><i class="fa fa-star font-size-xs mr-xs"></i><i class="fa fa-star font-size-xs mr-xs"></i><i class="fa fa-star font-size-xs mr-xs"></i><i class="fa fa-star font-size-xs"></i><br><strong>What Client’s Say</strong></h2>
            <div class="owl-carousel nav-bottom rounded-nav mb-none" data-plugin-options='{"items": 1, "loop": false}'>
               <div>
                  <div class="col-md-12">
                     <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                        <blockquote>
                           <p><strong>Outstanding about everything : - Support is fast and perfect : I got answers to every questions I asked. - Code quality is up to date, modern, structured, clear, easy to understand. - Responsive IS responsive (any screen size, smartphone & tablet. - Design is pure and esthetic. - Okler provide update. Thank you Okler team for all of this ! Keep going !</strong></p>
                        </blockquote>
                        <div class="testimonial-author">
                           <p><strong>Gothvel</strong></p>
                        </div>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="col-md-12">
                     <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                        <blockquote>
                           <p><strong>This theme is totally customizable, clean with all the options you could want. Don't want full screen layout? With one word added to the code the entire site becomes boxed version... The customer support is absolutely unsurpassed. Can not recommend this enough.</strong></p>
                        </blockquote>
                        <div class="testimonial-author">
                           <p><strong>katefischer510</strong></p>
                        </div>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="col-md-12">
                     <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                        <blockquote>
                           <p><strong>The code is extremely well organized, the help information and support is terrific and the options provided by the template are about the most thorough I've found - what more could you ask for?</strong></p>
                        </blockquote>
                        <div class="testimonial-author">
                           <p><strong>sibelius</strong></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="page-header custom-product">
   <div class="container">
      <div class="row">
         <div class="col-sm-7">
            <h1>Introducing our new and fast selling <strong>Gelugor heights</strong> project.</h1>
            <p class="lead">Hurry only limited flats are available!!!</p>
            <a href="#" class="btn btn-default btn-lg mb-xl">Buy Now!</a> <span class="arrow hlt" style="top: 10px;"></span>
         </div>
         <!-- <div class="col-sm-5">
            <img class="pull-right responsive" alt="" src="asset/images/shared/binwan-gift.jpg">
         </div> -->
      </div>
   </div>
</section>
