<section class="page-header">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <ul class="breadcrumb">
               <li><a href="#">Home</a></li>
               <li class="active">Pages</li>
            </ul>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <h1>FAQ</h1>
         </div>
      </div>
   </div>
</section>
<div class="container">
   <h2>Frequently Asked <strong>Questions</strong></h2>
   <div class="row">
      <div class="col-md-12">
         <p class="lead">
            Below are some of the frequentely asked questions about <strong>The Malaysia My Second Home Programme (MM2H).</strong>
         </p>
      </div>
   </div>
   <hr>
   <div class="row">
      <div class="col-md-12">
         <div class="toggle toggle-primary" data-plugin-toggle>
            <section class="toggle active">
               <label>Do I need a licensed MM2H Agent to submit for my MM2H application?</label>
               <p>Effective 9 January, 2009 foreign citizens may apply to participate in MM2H Programme directly,(applicants are NOT allowed to request friends or close relatives to submit the documents) OR they may use the services of MM2H agents licensed by the Ministry of Tourism, Malaysia. Only the directors of licensed MM2H companies with Tourism Malaysia are eligible to act as the sponsor for MM2H participants.
                  The MM2H application requires a submission of Personal Bond signed by the Sponsor with stamping duties paid for each individual participating in this Programme. The engagement with a Licensed MM2H agent will ensure that your MM2H application to be submitted with complete documents as required by the Ministry of Tourism Malaysia. You do not need to be present in Malaysia during the application period. We as your MM2H agent will guarantee to obtain the MM2H Approval for you or we shall refund in full for the amount of fees we received.
                  The Directors from Joy-Stay (MM2H) Sdn Bhd have been MM2H Programme sponsors since 2002 and we are confident and committed to serve you and to obtain the MM2H Approval for you to live and retire in this country under the 10-yr long-stay MM2H visa.
                  Our fees and services are clearly detailed on our website, we believe in not having any hidden charges because we value your trust in us.
               </p>
            </section>
            <section class="toggle">
               <label>Who grant the approval of MM2H application?</label>
               <p>The Ministry of Tourism Malaysia and the Immigration Department of Malaysia.</p>
            </section>
            <section class="toggle">
               <label>Do I need to be in Malaysia for the application of the MM2H program?</label>
               <p>No, you do not have to be present in Malaysia at the time of submission and during the processing period of the MM2H application. We as your MM2H agent will take care of all matters arising during this time; We will complete the application with close follow-ups. As soon as we obtain the MM2H Conditional Approval Letter from the Immigration of Malaysia, you (spouse and dependents, if applicable) will then make arrangement to visit Kuala Lumpur to complete the conditions set forth by the Immigration Department and to receive the MM2H Pass & Visa endorsement(s) on the passport(s). </p>
            </section>
            <section class="toggle">
               <label>Do I need to be in Malaysia when applying for a renewal?</label>
               <p>Yes, all participants MUST be present in person with their passports in Malaysia to receive the renewals or extension of the MM2H Pass endorsements from the Immigration of Malaysia.</p>
            </section>
            <section class="toggle">
               <label>Can I use my existing non-cash assets in Malaysia to fulfill the MM2H condition?</label>
               <p>No, they cannot be considered equivalent to the required Fixed Deposit stated in the Conditional Approval Letter by the Immigration of Malaysia. You may apply to withdraw part of Fixed Deposit one year after the issuance of your MM2H Pass. </p>
            </section>
            <section class="toggle">
               <label>How long does it take for my MM2H application to be processed and approved?</label>
               <p>As of January 2015, the processing time is about 3 months for applications which are not selected for financial verifications.   </p>
            </section>
            <section class="toggle">
               <label>What were the main reasons applications were being rejected?</label>
               <p>MM2H declined applications are due to the failure in showing proof of minimum financial status. In addition, applicants who submit applications with incomplete documents and failure to submit the required Letter of Good Conduct which are acceptable by the Immigration Malaysia would be declined accordingly.</p>
            </section>
            <section class="toggle">
               <label>If I have been staying in Malaysia for years, can I apply for MM2HP?</label>
               <p>Yes, provided you have a valid Social Visa at the point of application and are able to fulfill all the requirements as per our MM2H CheckList. The application can be done by the MM2H Agent while you are in Malaysia.</p>
            </section>
            <section class="toggle">
               <label>What are the main incentives & benefits of this program?</label>
               <p>Please go to <a>“What is MM2H”</a> to learn about the incentives/benefits in details; basically all successful MM2H applicants will be entitled to enjoy the following benefits:
                  Bring in or purchase one tax-free car.
                  Earn interests for fixed deposits placed in Malaysia.
                  Tax exemptions on offshore income and interest earned through the fixed deposit placed in Malaysia.
                  Bring one domestic helper along with you or hire a foreign maid from countries approved by Malaysian Government.
                  Flexibility of staying in Malaysia for as long as you want to; and with the convenience of Multiple Entry Visas, you may enter and leave the country as you wish.
                  Open saving, current or fixed deposit accounts with any bank in Malaysia. (Foreigners on normal social visit pass are not allowed to open bank accounts in Malaysia).
               </p>
            </section>
            <section class="toggle">
               <label>Who qualifies as dependents? </label>
               <p>Applicants may include legal spouses and children under the age of 21 as dependents. Applicants can also apply to include Parents over age of 60 included after the Main Applicant received the MM2H Pass.</p>
            </section>
            <section class="toggle">
               <label>What's the maximum age for children to apply under the family application?</label>
               <p>All children must be under 21 at the time of issuance of MM2H Pass.</p>
            </section>
            <section class="toggle">
               <label>Should I apply MM2H for my children who are /will be attending school in Malaysia?</label>
               <p>Not necessary, children who are above age of 18 must have the Student Pass to attend schools in Malaysia. </p>
            </section>
            <section class="toggle">
               <label>Does a child need a Student Visa to attend kindergarten here?  </label>
               <p>Children below age of 18 may apply for Special Student Permits under the MM2H status to study in Malaysia.</p>
            </section>
            <section class="toggle">
               <label>I have an international driving license; do I still need to sit for a driving test to obtain a driving license in Malaysia? </label>
               <p>Malaysia recognizes all international driving licenses. Therefore you do not need to obtain a new driving license in Malaysia as long as your international license is still valid.
                  You may convert your foreign driving license to Malaysian driving license according to the rules and regulations by the Road Transport Department. You may contact us for more details.
               </p>
            </section>
         </div>
      </div>
   </div>
</div>
