<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Home</a></li>
									<li class="active">Second Home</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Why To  <strong>Retire in Malaysia </strong></h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row">
						<div class="col-md-3">
							<aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options='{"minWidth": 991, "containerSelector": ".container", "padding": {"top": 110}}'>

								<h4 class="heading-primary">All about MM2H</h4>
								<ul class="nav nav-list mb-xl show-bg-active">
									<li class="active"><a data-hash data-hash-offset="85" href="#first">Why Malaysia</a></li>
									<li>
										<a data-hash data-hash-offset="85" href="#second">Why Malaysia is the best place to retire</a>
									</li>

									<li><a data-hash data-hash-offset="85" href="#third">Why Penang</a></li>

								</ul>

							</aside>
						</div>
						<div class="col-md-9">
							<div id="first" class="mb-sm heading heading-primary heading-border heading-bottom-border" style="display:inline-block;">
								<h1>Why <strong>Malaysia</strong></h1>
							</div>
							<p>Malaysia is safe. It’s one of the most multicultural countries in the world where Islam, Buddhism, Christianity, and Hinduism all coexist peacefully and respectfully. Crime is extremely low, and violent crime is virtually unheard of, especially involving foreigners.
							</p>
							<p>Malaysia is a great place to do business; it has a strong and stable economy– the country sidestepped a chaotic breakdown in 2008/2009 and has quite reasonable debt to GDP levels and government spending habits.</p>
							<p>It’s very easy to move to Malaysia. The government’s<strong class="text-primary"> “Malaysia- My second home” program (MM2H)</strong> is a streamlined, online process to grant an extendable 10-year visa for foreigners of all ages and nationalities.  They require a small investment to qualify– less than $100,000– which can go towards the purchase of a property.</p>
							<div id="second" class="mb-sm heading heading-primary heading-border heading-bottom-border" style="display:inline-block;">
								<h1>Why Malaysia is the  <strong>best place to retire?</strong></h1>
							</div>


							<p><strong class="text-primary">MALAYSIA Is the 3rd World’s Top Retirement Havens in 2014 again!</strong> For two consecutive years – 2013 and 2014, Malaysia is the 3rd best country to emigrate after Nicaragua and Panama, ranked by International Living Inc. <strong class="text-primary">This is the very reason why you should know more Why Malaysia My Second Home Is So Special!</strong></p>

							<p>Malaysia, situated in the heart of Asia, has one of the highest standards of living, yet maintains cheap cost of living. It has a great climate, though the Malaysians probably would probably disagree, facilities are excellent, road are great, transport is cheap. </p>
							<blockquote class="blockquote-primary">
												<p><span class="alternative-font">The Global Retirement Index Named Malaysia The 3rd Best Place To Retire In 2014</span></p>
												<footer><cite title="Source Title">Global Retirement Index</cite></footer>
											</blockquote>
							<p>Some others reason, why people want to retire in Malaysia:</p>
							<ul class="list list-icons list-primary">
								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i><strong class="text-primary">The people and language: </strong>The Malaysian people are warm and friendly and unlike some countries welcome foreigners who choose to live here and are happy to mix with them socially. There is no need to set yourself up in an expatriate enclave because wherever you live you are sure to find no problems settling in. The fact that a large number of people here speak English makes it especially attractive to the many people who are either native English speakers or speak enough English to communicate.</li>
								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i><strong class="text-primary">The weather: </strong>Most expatriates say how much they like the warm weather in Malaysia. Certainly it can get hot during the day but it is rarely the extreme heat found in some countries, and since most homes, cars and shopping areas are air-conditioned it is easy to escape the hottest times of day.</li>
								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i><strong class="text-primary">The cost of living: </strong>Malaysia is a low cost country to live in and if you are on a pension from a developed country you willfind that it offers a much better standard of living here than in your own country. Since remittances from abroad are not taxed it makes the programme even more attractive, if your funds are not taxed at source.</li>
								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i><strong class="text-primary">Economic and political stability: </strong>Malaysia has experienced many years of economic and political stability. Even the major economic downturn in Asia in 1997 did not have the disastrous results for Malaysia which many people predicted. The economic outlook now is promising and many expats have expressed their satisfaction with the current Prime Minister Dato Seri Mohd Najib who is introducing some sweeping reforms.</li>
								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i><strong class="text-primary">Infrastructure: </strong>The country has generally good infrastructure with a world class airport, very modern capital city and a well developed and maintained road network. Malaysia has a strong commitment to become a leading IT and multimedia hub for the region. It demonstrated this by creating the Multimedia Super Corridor (MSC) a high tech area stretching from Kuala Lumpur to the international airport and offering state of the art communication networks. The government continuously invests in improvements to the country’s infrastructure.</li>
								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i><strong class="text-primary">The food: </strong>Malaysia has three major types of local cuisine which most foreigners soon come to enjoy. Malay, Chinese and Indian restaurants can be found all over the country reflecting the three largest races in Malaysia and between the three cuisines there is a magnificent choice of dishes. If you eat in the open air stalls or in the non air conditioned restaurants you will be amazed at the low cost of the food. A large variety of food, cooked in a lot of different styles that have been influenced by the various cultures that exist in the country (Malay's satay, Indian fish curry, Chinese's Dim Sum, Tomyam from Thailand, etc). In fact, most types of food in the region are available in Malaysia, and they are cheap too!</li>
								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i><strong class="text-primary">The natural beauty: </strong>Malaysia has the advantage of being one of the lowest populated countries in Asia. This means plenty of unspoiled countryside where you can explore the jungle, hill stations and tropical islands or relax on the many beaches. There is a wealth of flora and fauna as well as wild life. The major roads are excellent and it is easy to drive around the country once you get used to some of the local driving styles. (See our annual Motoring Guide for more information about driving in Malaysia). There are also a large number of excellent hotels which have some of the lowest rates in Asia making domestic travel a pleasure and remarkably good value.</li>
								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i><strong class="text-primary">Safety and health: </strong>The crime rate in Malaysia is generally lower than in most western countries. Health services are efficient and first class medical facilities are available in all the major cities with well equipped hospitals and clinics run by highly qualified staff. Medical costs are much lower than many other countries. </li>
								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i><strong class="text-primary">Education: </strong>Great education system. It also has many international schools to cater for expats children, and numerous colleges with affiliation with well-known overseas universities. </li>
								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i><strong class="text-primary">Medical: </strong>Superb healthcare facilities and highly-skilled medical practitioners. Yet medical expenses and insurance can be very cheap and affordable compare to other countries. </li>

								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i><strong class="text-primary">Law and Order: </strong>Malaysia is one of the safest country with low crime rate and highly efficient Royal Malaysian Police. Malaysia banned gun possession, so you don't hear much reported cases of shooting incident. </li>
									</ul>
							<!-- <img class="pull-left img-responsive" width="300" height="211" src="img/device.png" alt="Device"> -->



							<div id="third" class="mb-sm heading heading-primary heading-border heading-bottom-border" style="display:inline-block;">
								<h1>Why <strong>Penang</strong></h1>
							</div>
							<p>Malaysia's 'Pearl of the Orient' carries a natural beauty and cultural splendour like no other place. Its name comes from the Malay translation of betel nut - 'Pinang'. Every year, thousands of visitors come here to experience the unique cultural heritage and scenery. It is also a very cosmopolitan city, perhaps the second busiest in the country after Kuala Lumpur.
							</p>
							<p>Penang has attracted many foreigners who want to make it their retirement or holiday homes. It is a combination of slow life, friendly people, great food, absence of language problem, excellent infrastructure, affordable homes and individual home ownership that makes Penang a great place to stay. If you looking for small town charm but the conveniences of a large city,<strong class="text-primary"> Penang has it all !</strong> </p>

							<blockquote class="blockquote-primary">
												<p><span class="alternative-font">Georgetown, Penang constitute a unique architectural and cultural townscape without parallel anywhere in East and Southeast Asia</span></p>
												<footer><cite title="Source Title">UNESCO World Heritage</cite></footer>
											</blockquote>
							<div id="" class="mb-sm heading heading-primary heading-border heading-bottom-border" style="display:inline-block;">
								<h4>Things to do in <strong>Penang</strong></h4>
							</div>

							<ul class="list list-icons list-primary">
								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i>
								Savour the great varieties of local food and delicious hawker fare. Penang was voted <strong class="text-primary">Best Street Food 2004 by Time magazine. </strong></li>
								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i>
								Visit places of interest, historical sites and heritage buildings. </strong></li>
								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i>
								Enjoy the fine beaches and lovely weather. A daily morning walk along the sandy beach is never boring. Listening to the lapping waves is therapeutic. </strong></li>
								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i>
								Relax and indulge in various forms of recreation.</strong></li>
								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i>
								Lower cost of living compared to Kuala Lumpur or Johor Bahru.</strong></li>
								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i>
								Excellent facilities and infrastructure</strong></li>
								<li data-appear-animation="fadeInUp" data-appear-animation-delay="0" class="appear-animation fadeInUp appear-animation-visible"><i class="fa fa-check"></i>
								Affordable real estate that is investment-worthy</strong></li>


						</div>

					</div>

				</div>
